* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: PT Sans;
}

/*Navigasi*/
nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(19, 19, 19);
    padding: 1.4rem 7%;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

nav > h2 {
    color: white;
}

h2 > span {
    color: rgb(0, 110, 255);
}

ul {
    display: flex;
    width: 30%;
    height: 25px;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 110, 255);
}

.navbar-burger a  {
    display: none;
}

/*Hero Section*/
.container-hero {
    width: 100%;
    height: 41rem;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-hero p {
    color: white;
}

.Hero {
    display: flex;
    flex-direction: column;

}

.img-hero img {
    width: 25rem;
    height: 25rem;
    margin-top: 50px;
    border-radius: 50%;
}

section > h3 {
    color: white;
}

section > h1 {
    color: rgb(0, 110, 255) ;
    font-size: 40px;
}

section > h4 {
    color: aliceblue;
    font-size: 25px;
}

.icon-contact {
    display: flex;
    margin-top: 20px;
}

.icon-contact a {
    margin-right: 10px;
}


/*Halaman Tentang*/
.about-container {
    width: 100%;
    height: 43rem;
    text-align: center;
    color: white;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me h1 {
    text-align: start;
    font-size: 25px;
    margin-top: 30px;
}

.article1 {
    margin-top: 70px;
}

.article1 > h3 {
    font-size: 27px;
    margin-bottom: 15px;
    color: rgb(0, 110, 255);
}

.card {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    width: auto;
    height: auto;
}


figure > img {
    width: 21rem;
    height: 21rem;
    border-radius: 30px;
    border: white 5px solid;   
}

.about-me > p {
    text-align: justify;
    margin-top: 20px;
    width: 35rem;
    height: 10rem;
}

.about-me {
    margin-left: 60px;
}

.about-me > hr {
    margin-top: 15px;
    width: 17rem;
}

article > button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: white solid;
    padding: 10px 20px;
    position: relative;
    right: 11.5rem;
    border-radius: 18px;
    transition: 0.5s;
}

article > button:hover {
    background-color: white;
    transform: scale(1.1);
    color: black;
    font-weight: bold;
    transition: 0.5s;
    -webkit-box-shadow:0px 0px 73px 9px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
}

/*Halaman Skill*/

.hero-skill {
    background-color: rgb(24, 24, 24);
    text-align: center;
    width: 100%;
    height: 39em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero-skill > article {
    color: white;
}

.judul-skill {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.card-skill {
    width: 5rem;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 1.3s;
}

.card-skill:hover {
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-box-shadow:0px 0px 73px 9px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
}

.skill-card {
    margin-top: 40px;
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-skill > img {
    width: 3rem;
    height: 3rem;
}

.hero-skill h3 {
    font-size: 27px;
    margin-bottom: 15px;
    color: rgb(0, 110, 255);
}

/*Footer*/
.main-footer {
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-footer > h2 {
    color: white;
}

.card-footer {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.hakcipta {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}

.hakcipta span {
    color: white;
}

.icon-media a {
    margin-left: 10px;
}


/*laptop*/
@media (max-width: 1336px) {
    html {
        font-size: 90%;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 70%;
    }

    p {
        font-size: 16px;
    }

    nav {
        justify-content: space-between;
    }

    .navbar-burger a {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        background-color: white;
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        bottom: 10rem;
    }

    .navbar .navbar-nav a {
        color: black;
        font-size: 15px;
        margin-bottom: 30px;
        margin-top: 40px;
        font-weight: bold;
    }

    .navbar .navbar-nav.active {
        right: 0px;
    }

    /*Halaman tetang Saya*/
    .about-container {
        width: 100% auto;
        height: 60rem;
    }

    .card {
        height: 60rem;
        width: 100% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    figure > img {
        width: 10rem;
        height: 10rem;
        border-radius: 20px;
        border: white 3px solid;   
    }

    .about-me {
        margin-left: 0px;
    }

    .about-me > article {
        display: flex;
        justify-content: center;
    }

    article > button {
        background-color: white;
        color: black;
        font-weight: bold;
        border: white 3px solid;
        padding: 5px 10px;
        border-radius: 18px;
        width: 90%;
        top: 65px;
        right: 0px;
        -webkit-box-shadow:0px 0px 22px 0px rgba(255,255,255,0.6);
        -moz-box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.6);
        box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.6);
}

        article > button:hover {
            color: black;
            -webkit-box-shadow:0px 0px 22px 0px rgba(255,255,255,0.6);
            -moz-box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.6);
            box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.6);
            transform: none;
        }

    .article1 > p {
        font-size: 16px;
    }

    .about-me > p {
        font-size: 16px;
        width: 34rem;
        height: 10rem;
    }
    

    .article1 > h3 {
        margin-bottom: 10px;
    }

    .about-me > p {
        text-align: justify;
        margin-top: 10px;
    }

    .article1 {
        margin-top: 40px;
    }

    .card {
        margin-top: 30px;
    }

    /*Hero Skill*/

    .hero-skill {
        background-color: rgb(24, 24, 24);
        text-align: center;
        width: 100%;
        height: 50em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .card-skill {
        width: 7rem;
        height: 7rem;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: 1.3s;
    }
    
    .card-skill:hover {
        transform: scale(1.1);
        transition: 0.5s;
        -webkit-box-shadow:0px 0px 73px 9px rgba(255,255,255,0.9);
        -moz-box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
        box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
    }
    
    .skill-card {
        margin-top: 40px;
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .card-skill > img {
        width: 4rem;
        height: 4rem;
    }

    /*Footer*/
    .card-footer > h2 {
        color: white;
        font-size: 21px;
    }
}

/*Phone*/
@media (max-width: 450px) {
    html {
        font-size: 60%;
    }

    /*Navigasi*/

    nav > h2 {
        font-size: 18px;
    }
    section > h3 {
        font-size: 16px;
    }

    section > h1 {
        font-size: 28px;
    }

    section > h4 {
        font-size: 20px;
    }

    /*Hero Section*/
    .container-hero {
        flex-direction: column-reverse;
        width: 100%;
        height: 55rem;
        justify-content: space-evenly;
    }

    .container-hero .hero {
        margin-top: 30px;
    }

    .container-hero {
        text-align: center;
    }

    .icon-contact {
        justify-content: center;
    }

    /*Halaman tetang Saya*/
    .about-container {
        width: 100%;
        height: 84rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-me {
        margin-left: 0px;
    }

    figure > img {
        width: 30rem;
        height: 30rem;
    }

/*Hero Skill*/

.hero-skill {
    background-color: rgb(24, 24, 24);
    text-align: center;
    width: 100% auto;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-skill {
    width: 7rem;
    height: 7rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-skill:hover {
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-box-shadow:0px 0px 73px 9px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
}

.skill-card {
    margin-top: 40px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-skill > img {
    width: 4rem;
    height: 4rem;
}






}
