* {
    margin: 0px;
    padding: 0px;
    font-family: PT Sans;
}

body.light-mode {

    * {
        font-family: PT Sans;
    }

    nav {
        background-color: white;
    }

    nav h2 {
        color: black;
    }

    a {
        color: black ;
    }

    p {
        color: black;
    }

    .container-hero {
        background-color: white;
    }

    .container-hero  h3, h4 {
        color: black;
    }

    .about-container {
        background-color: white;
    }

    .card  h1 {
        color: black;
    }

    .card button {
        color: white;
        background-color: black;
    }

    .hero-skill {
        background-color: white;
    }

    .form-contact {
        background-color: white;
    }

    .container-footer {
        background-color: white;
    }

    .card-footer h2 {
        color: black;
    }

    .text-footer h1 {
        color: black;
    }
}
    

body.dark-mode  {

    * {
        font-family: PT Sans;
    }

    p {
        color:white;
    }
}

.toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    margin-right: 70px;
}

.toggle-button.light-mode {
    background-color: #444;
    color: white;
}

.toggle-button.dark-mode {
    background-color: #fff;
    color: black;
}

/*Navigasi*/
nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(19, 19, 19);
    padding: 1.4rem 7%;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: -1px 5px 14px -1px rgba(0,0,0,0.18);
-webkit-box-shadow: -1px 5px 14px -1px rgba(0,0,0,0.18);
-moz-box-shadow: -1px 5px 14px -1px rgba(0,0,0,0.18);


}

nav > h2 {
    color: white;
}

h2 > span {
    color: #006eff;
}

ul {
    display: flex;
    width: 35%;
    height: 25px;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #006eff;
    text-shadow: rgba(0,8,239,1) 0px 0px 36px;
}

.navbar-burger a  {
    display: none;
}

/*Hero Section*/
.container-hero {
    width: 100%;
    height: 41rem;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-hero p {
    color:gray;
}

.Hero {
    display: flex;
    flex-direction: column;

}

.img-hero img {
    width: 26rem;
    height: 26rem;
}

section > h3 {
    color: white;
    font-size: 20px;
}

section > h1 {
    color: rgb(0, 110, 255) ;
    font-size: 60px;
}

section > h4 {
    color: aliceblue;
    font-size: 25px;
}

.icon-contact {
    display: flex;
    margin-top: 20px;
}

.icon-contact a {
    margin-right: 10px;
}


/*Halaman Tentang*/
.about-container {
    width: 100%;
    height: 36.2rem;
    text-align: center;
    color: white;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me h1 {
    text-align: start;
    font-size: 25px;
    margin-top: 30px;
}

.article1 {
    margin-top: 70px;
}

.article1 > h3 {
    font-size: 35px;
    margin-bottom: 15px;
    color: rgb(0, 110, 255);
}

.card {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    width: auto;
    height: auto;
}


figure > img {
    width: 25rem;
    height: 25rem; 
}

.about-me > p {
    text-align: justify;
    margin-top: 20px;
    width: 35rem;
    height: auto;
    margin-bottom: 30px;
}

.about-me {
    margin-left: 60px;
}

.about-me > hr {
    margin-top: 15px;
    width: 17rem;
}

article > button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: white solid;
    padding: 10px 20px;
    position: relative;
    right: 11.5rem;
    border-radius: 18px;
    transition: 0.5s;
}

article > button:hover {
    background-color: white;
    transform: scale(1.1);
    color: black;
    font-weight: bold;
    transition: 0.5s;
    -webkit-box-shadow:0px 0px 73px 9px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
}

/*Halaman Skill*/

.hero-skill {
    background-color: rgb(24, 24, 24);
    text-align: center;
    width: 100%;
    height: 28rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero-skill > article {
    color: white;
}

.judul-skill {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.card-skill {
    width: 5rem;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 1.3s;
    box-shadow: -1px 5px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 5px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 14px -1px rgba(0,0,0,0.75);

}

.card-skill:hover {
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-box-shadow:0px 0px 73px 9px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
}

.skill-card {
    margin-top: 40px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-skill > img {
    width: 3rem;
    height: 3rem;
}

.hero-skill h3 {
    font-size: 35px;
    margin-bottom: 15px;
    color: rgb(0, 110, 255);
}

/*form Contact*/
.form-contact {
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-contact > h1 {
    color: #006eff;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 35px;
}

.form-contact > p {
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.form-kolom > label {
    font-size: 14px;
    color: white;
    font-weight: bold;

}

.form-kolom {
    width: 50rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-bottom: 40px;
    /* From https://css.glass */
    background: #006eff;
    border: 2.5px solid rgb(0, 110, 255);
}

.form-kolom > input {
    width: 80%;
    height: 20px;
    opacity: 70%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.form-kolom > textarea {
    resize: none;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    opacity: 70%;

}

.tombol-contact {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: none;
    width: 40.5rem;
    margin-bottom: 30px;

}

/*Footer*/
.container-footer {
    background-color: rgb(24, 24, 24);
    color: white;
}

.text-footer > h1 {
    margin: 0px 0px 0px 40px;
}


.block-footer {
    display: flex;
    justify-content: space-around;
}

.card-footer > p {
    color: gray;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer > h2 {
    margin-bottom: 10px;
}

.card-footer > a {
    margin-bottom: 5px;
    color: gray;
}

.medsos-footer {
    display: flex;
    justify-content: center;
}

.medsos-footer > a {
    margin: 20px 10px 10px 10px;
}

.developer-footer {
    display: flex;
    justify-content: center;
}

.developer-footer > p {
    margin-bottom: 20px;
    color: gray;

}




/*laptop*/
@media (max-width: 1336px) {
    html {
        font-size: 90%;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 70%;
    }

    p {
        font-size: 16px;
    }

    nav {
        justify-content: space-between;
    }

    .navbar-burger a {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        background-color: white;
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        bottom: 10rem;
    }

    .navbar .navbar-nav a {
        color: black;
        font-size: 15px;
        margin-bottom: 30px;
        margin-top: 40px;
        font-weight: bold;
    }

    .navbar .navbar-nav.active {
        right: 0px;
    }

    /*Halaman tetang Saya*/
    .about-container {
        width: 100% auto;
        height: 60rem;
    }

    .card {
        height: 60rem;
        width: 100% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    figure > img {
        width: 10rem;
        height: 10rem;   
    }

    .about-me {
        margin-left: 0px;
    }

    .about-me > article {
        display: flex;
        justify-content: center;
    }

    article > button {
        background-color: white;
        color: black;
        font-weight: bold;
        border: white 3px solid;
        padding: 10px 10px;
        border-radius: 18px;
        width: 90%;
        top: 50px;
        right: 0px;
        -webkit-box-shadow:0px 0px 22px 0px rgba(255,255,255,0.6);
        -moz-box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.6);
        box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.6);
}

        article > button:hover {
            color: black;
            -webkit-box-shadow:0px 0px 22px 0px rgba(255,255,255,0.6);
            -moz-box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.6);
            box-shadow: 0px 0px 22px 0px rgba(255,255,255,0.6);
            transform: none;
        }

    .article1 > p {
        font-size: 16px;
    }

    .about-me > p {
        font-size: 16px;
        width: 30rem;
        height: auto;
    }
    

    .article1 > h3 {
        margin-bottom: 10px;
    }

    .about-me > p {
        text-align: justify;
        margin-top: 10px;
    }

    .article1 {
        margin-top: 40px;
    }

    .card {
        margin-top: 30px;
    }

    /*Hero Skill*/

    .hero-skill {
        background-color: rgb(24, 24, 24);
        text-align: center;
        width: 100%;
        height: 50em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .card-skill {
        width: 7rem;
        height: 7rem;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: 1.3s;
    }
    
    .card-skill:hover {
        transform: scale(1.1);
        transition: 0.5s;
        -webkit-box-shadow:0px 0px 73px 9px rgba(255,255,255,0.9);
        -moz-box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
        box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
    }
    
    .skill-card {
        margin-top: 40px;
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .card-skill > img {
        width: 4rem;
        height: 4rem;
    }

    /*Footer*/
    .card-footer > h2 {
        color: white;
        font-size: 21px;
    }
}

/*Phone*/
@media (max-width: 450px) {
    html {
        font-size: 60%;
    }

    /*Navigasi*/
    nav > h2 {
        font-size: 22px;
    }
    section > h3 {
        font-size: 16px;
    }

    section > h1 {
        font-size: 28px;
    }

    section > h4 {
        font-size: 20px;
    }

    /*Hero Section*/
    .container-hero {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .Hero > p {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        height: auto;
        color: rgb(141, 141, 141);
    }

    .Hero {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 6rem;
    }

    .Hero section > h1 {
        font-size: 36px;
    }

    .container-hero .hero {
        margin-top: 30px;
    }

    .icon-contact {
        justify-content: center;
    }

    .img-hero > img {
        margin-top: 100px;
        margin-bottom: 20px;
        width: 375px;
        height: 375px;
        
    }

    /*Halaman tetang Saya*/
    .about-container {
        width: 100%;
        height: 87rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-me {
        margin-left: 0px;
        text-align: center;
    }

    figure > img {
        width: 30rem;
        height: 30rem;
    }

/*Hero Skill*/

.hero-skill {
    background-color: rgb(24, 24, 24);
    text-align: center;
    width: 100% auto;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-skill {
    width: 7rem;
    height: 7rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-skill:hover {
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-box-shadow:0px 0px 73px 9px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 73px 9px rgba(255,255,255,0.9);
}

.skill-card {
    margin-top: 40px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-skill > img {
    width: 4rem;
    height: 4rem;
}

.form-contact > h1 {
    color: #006eff;
    margin-top: 20px;
    font-size: 27px;
}

.form-contact > p {
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.form-kolom > label {
    font-size: 14px;
    color: white;
    font-weight: bold;

}

.form-kolom {
    width: 26rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-bottom: 40px;
     /* From https://css.glass */
    background: #006eff;
    border: 2.5px solid rgb(0, 110, 255);
}

.form-kolom > input {
    width: 80%;
    height: 20px;
    opacity: 70%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.form-kolom > textarea {
    resize: none;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    opacity: 70%;

}

.tombol-contact {
    background-color: white;
    padding: 6px 88px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: none;
    width: 5px;

}

//footer 

.container-footer {
    background-color: black;
    color: white;
    height: auto;
}

.text-footer {
    padding: 30px 0px 0px 0px;
    margin-left: 1px;
    font-size: 14px;
}

.text-footer > h1 span {
    color : rgb(0, 110, 255);
}


.block-footer {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 10px;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer > h2 {
    margin-bottom: 10px;
    margin-top: 25px;
}

.card-footer > p {
    margin-top: 5px;
}

.card-footer > a {
    margin-bottom: 10px;
    font-size: large;
}

.garis-footer {
    width: 99%;
    margin-top: 25px;
    color: gray;
}

.medsos-footer {
    display: flex;
    justify-content: center;
}

.medsos-footer > a {
    margin: 25px 10px 10px 10px ;
}

.developer-footer {
    display: flex;
    justify-content: center;
}

.developer-footer > p {
    margin-bottom: 10px;
    color: gray;
}

.developer-footer > p span {
    font-weight: bold;
    color: #006eff;
}

}
